@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:  'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 1.5;
    min-height: 100svh/vh/dvh;
}

nav{
    text-align: center;
    margin-top: 50px;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}


nav .para {
    margin: 20px;
    text-align: left;
    padding: 15px;
    background-color:azure ;
    font-size: 14px;
    z-index: 999;
    display: none;
}

nav:hover {
    color: cadetblue;
}

nav:hover .para{
    display: block;   
}
nav .para a:hover{
    text-decoration: none;
}



.wholePage{
    max-width: 1440px;
    padding: 20px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
 
}


.card header{
    display: flex;
    align-items: center;
}

.card header h3{
    font-size: 15px;
}

.card header p{
    opacity: 50%;
}

.card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid blueviolet;
    margin-right: 20px;
}


.card .card_lead {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 10px auto;
}

.card .card_follow{
    font-size: 14px;
    opacity: 70%;
    line-height: 1.4;
}

.card--bg--purple .card{
    background-color: hsl(263, 55%,  52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
    color: #fff;
}

.card--bg--blue .card{
    background-color: hsl(217, 19%, 35%);
    color: #fff;

}

.card--bg--black .card{
    background-color: hsl(219, 29%, 14%);
    color: #fff;    
}

.card:nth-of-type(1){
    grid-column: 1/3;
}



.box{
    margin-left: 100px;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: boxAnimation;

    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-direction: alternate;   
    animation-iteration-count: infinite; 
}

@keyframes boxAnimation{
    0% { background-color: antiquewhite; 
        border-radius: 20px;
        width: 50%;
        height: 50%;
        transform: translate(0 , 0);
        }  
    100% { background-color: #996ed9;
        border-radius: 50px;
        width: 50%;
        height: 50%;
        transform: translate(300px , 0);
        }
}

@media  (max-width: 760px) {
    .wholePage{
       padding: 10px;
       margin: 10px;
       display: flex;
       flex-direction: column;
    }
    .box{
        animation-name: min-boxAnimation;
        animation-duration: 4s;
        animation-delay: 4s;
       @keyframes min-boxAnimation {
        0%{
            width: 50%;
            height: 50%;
            background-color: antiquewhite; 
            border-radius: 20px;
        }
        50%{
            width: 100%;
            height: 100%;
            background-color: antiquewhite; 
            border-radius: 20px;
        }
        100{
            width: 50%;
            height: 50%;
            background-color: antiquewhite; 
            border-radius: 20px;
        }
       }
    }
}



@media  (max-width: 375px) {
    .wholePage{
       padding: 10px;
       margin: 10px;
       display: flex;
       flex-direction: column;
    }
    .box{
        animation-name: min-boxAnimation;
        animation-duration: 4s;
        animation-delay: 4s;
       @keyframes min-boxAnimation {
        0%{
            width: 50%;
            height: 50%;
            background-color: antiquewhite; 
            border-radius: 20px;
        }
        50%{
            width: 100%;
            height: 100%;
            background-color: antiquewhite; 
            border-radius: 20px;
        }
        100{
            width: 50%;
            height: 50%;
            background-color: antiquewhite; 
            border-radius: 20px;
        }
       }
    }
}










































